In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re

In [2]:
df=pd.read_excel(r"C:\Users\pinak.mahapatra\Downloads\Batch_17_Additional.xlsx")

In [3]:
df.head()

,id,categoryName,subCategoryName,materialGroupName,skuCode,brandName,skuName,skuDescription,skuSize,unitSize,...,soldTogether2,soldTogether3,soldTogether4,soldTogether5,isRecommended,travelExclusive,sellable,RSP,Bucket name,isrecommended
0,1,WHISKY,SMALT WSKY,Liquor,02N03818,AUCHENTOSHAN,\nAuchentoshan American Oak Reserve 100cl,Experience the best of Glaswegian culture with...,100.0,cl,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6200,NaN,NaN
1,2,WHISKY,SINGLE MALT,Liquor,02N03694,AUCHENTOSHAN,\nAuchentoshan Dark Oak Single Malt Scotch Whi...,Discover the lively and refined flavors of Auc...,100.0,cl,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6150,NaN,NaN
2,3,WHISKY,A&B WSKY,Liquor,02N03862,BASIL HAYDEN,\nBasil Hayden's Kentucky Straight Bourbon Whi...,Explore layers of flavor with Basil Hayden Ken...,70.0,cl,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3920,NaN,NaN
3,4,WHISKY,SMALT WSKY,Liquor,02N03913,HAKUSHU,\n\nSuntory Hakushu Distiller's Reserve 6X.0....,"Artisan crafted among the untouched forests, m...",70.0,cl,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9190,NaN,NaN
4,5,WHISKY,A&B WSKY,Liquor,02N03863,JIM BEAM,\n\nJim Beam Apple 32.5% vol 100 cl,Apple and Jim Beam have come together to make...,100.0,cl,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2350,NaN,NaN

In [4]:
from unidecode import unidecode
df['skuDescription'] = df['skuDescription'].apply(unidecode)
df['skuName'] = df['skuName'].apply(unidecode)

In [5]:
df['skuDescription'] = df['skuDescription'].str.replace('&', 'abcd')
df['skuDescription'] = df['skuDescription'].str.replace('%', 'efgh')
df['skuDescription'] = df['skuDescription'].str.replace('!', 'ijkl')
df['skuDescription'] = df['skuDescription'].str.replace("'", 'wepl')
df['skuDescription'] = df['skuDescription'].str.replace(',', 'xasw')
df['skuDescription'] = df['skuDescription'].str.replace('.', 'poiu')

In [6]:
df['skuName'] = df['skuName'].str.replace('&', 'abcd')
df['skuName'] = df['skuName'].str.replace('%', 'efgh')
df['skuName'] = df['skuName'].str.replace('!', 'ijkl')
df['skuName'] = df['skuName'].str.replace("'", 'wepl')
df['skuName'] = df['skuName'].str.replace(',', 'xasw')
df['skuName'] = df['skuName'].str.replace('.', 'poiu')

In [7]:
#df['skuDescription'] = df['skuDescription'].str.replace('\W', ' ', regex=True)
df['skuDescription'] = df['skuDescription'].str.replace(r'\W', ' ', regex=True)
df['skuName'] = df['skuName'].str.replace(r'\W', ' ', regex=True)

In [8]:
df['skuDescription'] = df['skuDescription'].str.replace('abcd', '&')
df['skuDescription'] = df['skuDescription'].str.replace('efgh', '%')
df['skuDescription'] = df['skuDescription'].str.replace('ijkl', '!')

df['skuDescription'] = df['skuDescription'].str.replace('wepl', "'")
df['skuDescription'] = df['skuDescription'].str.replace('xasw', ',')
df['skuDescription'] = df['skuDescription'].str.replace('poiu', '.')

In [9]:
df['skuName'] = df['skuName'].str.replace('abcd', '&')
df['skuName'] = df['skuName'].str.replace('efgh', '%')
df['skuName'] = df['skuName'].str.replace('ijkl', '!')

df['skuName'] = df['skuName'].str.replace('wepl', "'")
df['skuName'] = df['skuName'].str.replace('xasw', ',')
df['skuName'] = df['skuName'].str.replace('poiu', '.')

In [10]:
df.head()

,id,categoryName,subCategoryName,materialGroupName,skuCode,brandName,skuName,skuDescription,skuSize,unitSize,...,soldTogether2,soldTogether3,soldTogether4,soldTogether5,isRecommended,travelExclusive,sellable,RSP,Bucket name,isrecommended
0,1,WHISKY,SMALT WSKY,Liquor,02N03818,AUCHENTOSHAN,Auchentoshan American Oak Reserve 100cl,Experience the best of Glaswegian culture with...,100.0,cl,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6200,NaN,NaN
1,2,WHISKY,SINGLE MALT,Liquor,02N03694,AUCHENTOSHAN,Auchentoshan Dark Oak Single Malt Scotch Whis...,Discover the lively and refined flavors of Auc...,100.0,cl,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6150,NaN,NaN
2,3,WHISKY,A&B WSKY,Liquor,02N03862,BASIL HAYDEN,Basil Hayden's Kentucky Straight Bourbon Whis...,Explore layers of flavor with Basil Hayden Ken...,70.0,cl,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3920,NaN,NaN
3,4,WHISKY,SMALT WSKY,Liquor,02N03913,HAKUSHU,Suntory Hakushu Distiller's Reserve 6X.0.7L...,"Artisan crafted among the untouched forests, m...",70.0,cl,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9190,NaN,NaN
4,5,WHISKY,A&B WSKY,Liquor,02N03863,JIM BEAM,Jim Beam Apple 32.5% vol 100 cl,Apple and Jim Beam have come together to make...,100.0,cl,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2350,NaN,NaN

In [11]:
df['categoryName'] = df['categoryName'].str.lower()
df['subCategoryName'] = df['subCategoryName'].str.lower()
df['materialGroupName'] = df['materialGroupName'].str.lower()
df['brandName'] = df['brandName'].str.lower()

In [12]:
df.head()

,id,categoryName,subCategoryName,materialGroupName,skuCode,brandName,skuName,skuDescription,skuSize,unitSize,...,soldTogether2,soldTogether3,soldTogether4,soldTogether5,isRecommended,travelExclusive,sellable,RSP,Bucket name,isrecommended
0,1,whisky,smalt wsky,liquor,02N03818,auchentoshan,Auchentoshan American Oak Reserve 100cl,Experience the best of Glaswegian culture with...,100.0,cl,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6200,NaN,NaN
1,2,whisky,single malt,liquor,02N03694,auchentoshan,Auchentoshan Dark Oak Single Malt Scotch Whis...,Discover the lively and refined flavors of Auc...,100.0,cl,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6150,NaN,NaN
2,3,whisky,a&b wsky,liquor,02N03862,basil hayden,Basil Hayden's Kentucky Straight Bourbon Whis...,Explore layers of flavor with Basil Hayden Ken...,70.0,cl,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3920,NaN,NaN
3,4,whisky,smalt wsky,liquor,02N03913,hakushu,Suntory Hakushu Distiller's Reserve 6X.0.7L...,"Artisan crafted among the untouched forests, m...",70.0,cl,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9190,NaN,NaN
4,5,whisky,a&b wsky,liquor,02N03863,jim beam,Jim Beam Apple 32.5% vol 100 cl,Apple and Jim Beam have come together to make...,100.0,cl,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2350,NaN,NaN

In [13]:
print(df['subCategoryName'])

0          smalt wsky
1         single malt
2            a&b wsky
3          smalt wsky
4            a&b wsky
           ...
79             whisky
80            perfume
81      scotch whisky
82     blended whisky
83    japanese whisky
Name: subCategoryName, Length: 84, dtype: object

In [14]:
df.head()

,id,categoryName,subCategoryName,materialGroupName,skuCode,brandName,skuName,skuDescription,skuSize,unitSize,...,soldTogether2,soldTogether3,soldTogether4,soldTogether5,isRecommended,travelExclusive,sellable,RSP,Bucket name,isrecommended
0,1,whisky,smalt wsky,liquor,02N03818,auchentoshan,Auchentoshan American Oak Reserve 100cl,Experience the best of Glaswegian culture with...,100.0,cl,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6200,NaN,NaN
1,2,whisky,single malt,liquor,02N03694,auchentoshan,Auchentoshan Dark Oak Single Malt Scotch Whis...,Discover the lively and refined flavors of Auc...,100.0,cl,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6150,NaN,NaN
2,3,whisky,a&b wsky,liquor,02N03862,basil hayden,Basil Hayden's Kentucky Straight Bourbon Whis...,Explore layers of flavor with Basil Hayden Ken...,70.0,cl,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3920,NaN,NaN
3,4,whisky,smalt wsky,liquor,02N03913,hakushu,Suntory Hakushu Distiller's Reserve 6X.0.7L...,"Artisan crafted among the untouched forests, m...",70.0,cl,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9190,NaN,NaN
4,5,whisky,a&b wsky,liquor,02N03863,jim beam,Jim Beam Apple 32.5% vol 100 cl,Apple and Jim Beam have come together to make...,100.0,cl,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2350,NaN,NaN

In [15]:
def replace_special_characters(subcategory_name):
    return re.sub(r'[!@#$%^&*()]', '-', subcategory_name)

df['subCategoryName'] = df['subCategoryName'].apply(replace_special_characters)
df['categoryName'] = df['categoryName'].apply(replace_special_characters)
df['materialGroupName'] = df['materialGroupName'].apply(replace_special_characters)
df['brandName'] = df['brandName'].apply(replace_special_characters)

In [16]:
df.head()

,id,categoryName,subCategoryName,materialGroupName,skuCode,brandName,skuName,skuDescription,skuSize,unitSize,...,soldTogether2,soldTogether3,soldTogether4,soldTogether5,isRecommended,travelExclusive,sellable,RSP,Bucket name,isrecommended
0,1,whisky,smalt wsky,liquor,02N03818,auchentoshan,Auchentoshan American Oak Reserve 100cl,Experience the best of Glaswegian culture with...,100.0,cl,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6200,NaN,NaN
1,2,whisky,single malt,liquor,02N03694,auchentoshan,Auchentoshan Dark Oak Single Malt Scotch Whis...,Discover the lively and refined flavors of Auc...,100.0,cl,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6150,NaN,NaN
2,3,whisky,a-b wsky,liquor,02N03862,basil hayden,Basil Hayden's Kentucky Straight Bourbon Whis...,Explore layers of flavor with Basil Hayden Ken...,70.0,cl,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3920,NaN,NaN
3,4,whisky,smalt wsky,liquor,02N03913,hakushu,Suntory Hakushu Distiller's Reserve 6X.0.7L...,"Artisan crafted among the untouched forests, m...",70.0,cl,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9190,NaN,NaN
4,5,whisky,a-b wsky,liquor,02N03863,jim beam,Jim Beam Apple 32.5% vol 100 cl,Apple and Jim Beam have come together to make...,100.0,cl,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2350,NaN,NaN

In [17]:
sample_string = "abc!def(ghi)jkl@123"

def replace_special_characters(subcategory_name):
    return re.sub(r'[!@#$%^&*()]', '-', subcategory_name)

result = replace_special_characters(sample_string)

# Print the result
print(f"Original string: {sample_string}")
print(f"Processed string: {result}")

Original string: abc!def(ghi)jkl@123
Processed string: abc-def-ghi-jkl-123